<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Формы - FormMaker')}" ><meta charset="UTF-8"></head>
<body>
<div class="container">
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    <h1>Доступные формы</h1>
    <div class="card">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Вопросы</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="form : ${forms}">
                <td th:text="${form.title}"></td>
                <td th:text="${#lists.size(form.questions)}"></td>
                <td><a class="btn" th:href="@{'/form/' + ${form.formId}}">Пройти</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>



